{% extends "../index.html" %}

{% block content %}
<article id="over-roel">
  <header class="article-header">
    <h1>Over Roel Antonisse</h1>
  </header>
  <p>
    <img src="media/senator-antonisse.jpg" alt="Roel in Dispuuts outfit">
    Geboren te Haarlem in Juni 1984, aandacht voor mooie dingen, lekker eten en games.
    Van professioneel kok naar toekomstig web developer aan de opleiding Communication and multimedia design, Hogeschool van Amsterdam.<br/>
    Ik ben Roel.
  </p>
  <p>
    U kunt bij mij terecht voor een website of grafisch werk.
    Ik ben een voorstander van een toegankelijk internet. Iedereen moet mijn ontworpen websites kunnen gebruiken. Op desktops, laptops en ook mobiel.
  </p>
</article>
{% endblock %}