<!DOCTYPE html>
<html lang="en-GB">
<head>
  <meta charset="utf-8">

  <title>{% block title %}Grunt Website Boilerplate by Roel Antonisse{% endblock %}</title>

  <meta name="author" content="{{ viewData.meta.author }}">
  <meta name="description" content="{{ viewData.meta.description }}">
  <meta name="keywords" content="{{ viewData.meta.keywords }}">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <!-- Icons -->
  <link rel="shortcut icon" href="favicon.png">

  <!-- Stylesheets -->
  <link rel="stylesheet" type="text/css" href="{{ cssPath }}">
</head>
<body>
  {% include "../components/site-header/site-header.html" %}
  <!-- CONTENT -->
  <section class="content">
  {% block content %}{% endblock %}
  </section>
  <!-- /CONTENT -->
  {% include "../components/site-footer/site-footer.html" %}
  <!-- SCRIPTS -->
  <script src="{{ jsPath }}"></script>

  <!-- LIVERELOAD -->
  {% if (mode == 'development') %}
  <script src="//localhost:35729/livereload.js"></script>
  {% endif %}
</body>
</html>