{% extends "../index.html" %}

{% block content %}
<article id="vaardigheden">
  <header class="article-header">
    <h1>Vaardigheden</h1>
  </header>
  <p>
    Dit zijn de vaardigheden en tools die ik mij eigen heb gemaakt:
  </p>
  <ul class="vaardigheden">
    <li>Web development</li>
    <li>HTML</li>
    <li>CSS</li>
    <li>Javascript</li>
    <li>jQuery</li>
    <li>PHP</li>
    <li>MySQL</li>
    <li>Wordpress</li>
    <li>Joomla</li>
    <li>Opencart</li>
    <li>Grafische vormgeving</li>
    <li>Photoshop (CS6)</li>
    <li>Illustrator (CS6)</li>
    <li>inDesign (CS6)</li>
    <li>Responsive design</li>
    <li>Logo design</li>
    <li>Variable Data Printing</li>
    <li>Interaction design</li>
    <li>Wireframes</li>
    <li>Prototyping</li>
    <li>User experience</li>
  </ul>
</article>
{% endblock %}